<!--
/**
 * Copyright © 2016 Magestore. All rights reserved.
 */
-->
<!--@subject {{var subject}}@-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"var store.getFrontendName()":"Store Name",
"htmlescape var=$content":"Email Content",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<div style="font:15px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <!-- edit by hainh for adding http to <a> tag -->
    <pre>{{var content}}</pre>
    <!-- end edit by hainh -->
</div>